

$logo-color: #06DF70;

$main-primary-color:  #1BD860;
$main-secondary-color: #00ff88;
$main-third-color: #00cc66;

$background-first-color: #0a2014;
$background-second-color: #122f23;
$background-third-color: #00291c;

// $background-first-color: #f7f9fc;
// $background-second-color: #fff;

$text-primary-color: #fff;
$text-secondary-color: #ccc;
$text-third-color: #ddd;
$text-forth-color: #00170f;
$text-fifth-color: #888;

// $text-primary-color: #333;
// $text-secondary-color: #555;

$camera-notch-color: #222;
$screen-background: #0c0c0c;


// | Element                  | Color Code |
// | :----------------------- | :--------- |
// | Logo & Primary Buttons   | `#06DF70`  |
// | Secondary Buttons        | `#06DFB0`  |
// | Links / Highlights       | `#FFD700`  |
// | Error / Warning          | `#DF0675`  |
// | Background (Dark Theme)  | `#1A1A1A`  |
// | Background (Light Theme) | `#FFFFFF`  |
// | Text (Dark Theme)        | `#F0F0F0`  |
// | Text (Light Theme)       | `#1A1A1A`  |

// a {
//     color: #ff5252;
// }